<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageResizer.Plugins.PdfiumRenderer.Pdfium.Dll" version="1.0.1" targetFramework="net40" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net40" />
  <package id="Spire.Doc" version="11.7.25" targetFramework="net40" />
  <package id="Spire.DocViewer" version="8.5.3" targetFramework="net40" />
  <package id="Spire.Office" version="8.8.0" targetFramework="net40" />
</packages>